<% if (user) { %>
    <div class="nav bg-dark align-items-center">
        <div class="text-center">
            <a href="/"><img src="/public/img/digitalersblog.png" alt="digitalers blog" class="ml-3"></a>
        </div>
        <ul>
                <a href="/">
                    <li>
                        <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="nav-item">Inicio</span>
                    </li>
                </a>

                <a href="/new">
                    <li>
                        <span class="icon">
                            <ion-icon name="add-outline"></ion-icon>
                        </span>
                        <span class="nav-item">Nuevo post</span>
                    </li>
                </a>
            </ul>
    </div>
    <%} else { %>
        <div class="nav bg-dark align-items-center">
            <a href="/"><img src="/public/img/digitalersblog.png" alt="digitalers blog" class="ml-3"></a>
            <ul>
                <a href="/">
                    <li>
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="nav-item">Inicio</span>
                    </li>
                </a>

                <a href="" data-bs-toggle="modal" data-bs-target="#modal-login">
                    <li>
                        <span class="icon">
                            <ion-icon name="log-in-outline"></ion-icon>
                        </span>
                        <span class="nav-item">Iniciar Sesion</span>
                    </li>
                </a>
            </ul>
    <% } %>
