<% if (user) { %>
    <div class="nav bg-dark align-items-center">
        <img src="/public/img/digitalersblog.png" alt="digitalers blog">
        <ul>
                <a href="/">
                    <li>
                        <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="nav-item">Inicio</span>
                    </li>
                </a>

                <a href="/logout">
                    <li>
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="nav-item">Cerrar Sesion</spa>
                    </li>
                </a>
<!-- 
                <a href="">
                    <li>
                        <span class="icon">
                            <ion-icon name="albums-outline"></ion-ico>
                        </span>
                        <span class="nav-item">Posteos</span>
                    </li>
                </a> -->

                <a href="">
                    <li>
                        <span class="icon">
                            <ion-icon name="call-outline"></ion-icon>
                        </span>
                        <span class="nav-item">Contacto</span>
                    </li>
                </a>
        </ul>
    </div>
    <%} else { %>
        <div class="nav bg-dark align-items-center">
            <img src="/public/img/digitalersblog.png" alt="digitalers blog">
            <ul>
                <a href="/">
                    <li>
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="nav-item">Inicio</span>
                    </li>
                </a>

                <a href="" data-bs-toggle="modal" data-bs-target="#modal-login">
                    <li>
                        <span class="icon">
                            <ion-icon name="log-in-outline"></ion-icon>
                        </span>
                        <span class="nav-item">Iniciar Sesion</span>
                    </li>
                </a>

                <a href="">
                    <li>
                        <span class="icon">
                            <ion-icon name="albums-outline"></ion-ico>
                        </span>
                        <span class="nav-item">Posteos</span>
                    </li>
                </a>

                <a href="">
                    <li>
                        <span class="icon">
                            <ion-icon name="call-outline"></ion-icon>
                        </span>
                        <span class="nav-item">Contacto</span>
                    </li>
                </a>
            </ul>
        </div>

    <% } %>
