<div class="nav bg-dark align-items-center">
    <img src="/public/img/digitalersblog.png" alt="digitalers blog">
    <ul>
        <a href=""><li>
                <span class="icon">
                    <ion-icon name="book-outline"></ion-icon>
                </span>
                <span class="nav-item">Biografia</span>
            
        </li></a>
            <a href=""><li>
            <span class="icon">
                <ion-icon name="briefcase-outline"></ion-icon>
            </span>
            <span class="nav-item">Trabajos</span>
        </li></a>
            <a href=""><li>
            <span class="icon">
                <ion-icon name="albums-outline"></ion-ico>
            </span>
            <span class="nav-item">Posteos</span>
        </li></a>
        <a href=""><li>
            <span class="icon">
                <ion-icon name="call-outline"></ion-icon>
            </span>
            <span class="nav-item">Contacto</span>
        </li></a>
    </ul>
</div>